<h1> Bloc - GitHub Trends </h1>

<div id="chart"></div>
<h3> Languages </h3>
<ul>
  <li><a href="/languages/Ruby">Ruby</a></li>
  <li><a href="/languages/JavaScript">JavaScript</a></li>
</ul>

<h3> Data </h3>
<ul>
  <li><a href="/repositories">All Repositories</a></li>
</ul>

<script>
  $(function() {
    var chart = new Highcharts.Chart({
        chart: {
            type: 'column',
            renderTo: 'chart'
        },
        title: {
          style: {
            display: 'none'
          }
        },
        xAxis: {
          type: 'datetime',
          categories: gon.years
        },
        series: gon.series
    });
  });
</script>
