<h1> Bloc - GitHub Trends </h1>

<div id="chart"></div>
<h3> Charts </h3>
<ul>
  <li><a href="/repositories/1">Repos by Year Created </a></li>
  <li><a href="/repositories/1?language=Ruby">Repos by Year Created (Ruby)</a></li>
  <li><a href="/repositories/1?language=JavaScript">Repos by Year Created (JavaScript)</a></li>
</ul>

<h3> Data </h3>
<ul>
  <li><a href="/repositories">All Repositories</a></li>
</ul>

<script>
  window.Trends = {};

  $(function() {
    var chart = new Highcharts.Chart({
        chart: {
            type: 'column',
            renderTo: 'chart'
        },
        title: {
          style: {
            display: 'none'
          }
        },
        xAxis: {
          type: 'datetime',
          categories: gon.years
        },
        series: gon.series
    });
  });
</script>
