<h1> <%= params[:id] %> </h1>

<div id='chart'>
</div>

<h3> Most Popular Repos </h3>

<ol>
  <% @popular_repos.each do |repo| %>
    <li><%= link_to repo.full_name, "https://github.com/#{repo.full_name}", target: "_blank" %></li>
  <% end %>
</ol>

<script>
  $(function() {
    var chart = new Highcharts.Chart({
        colors: ["#7cb5ec", "#f7a35c"],
        chart: {
            type: 'column',
            renderTo: 'chart'
        },
        title: {
          style: {
            display: 'none'
          }
        },
        plotOptions: {
          column: {
            dataLabels: {
              enabled: true
            }
          }
        },
        xAxis: {
          type: 'datetime',
          categories: gon.years
        },
        series: [{
          name: 'Repos',
          data: gon.repos
        }]
    });
  });
</script>
